
/* 
    Site-wide rules 
*/

* {
    outline: none;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    margin: 0;
}

:root {
    --primary-color: #cd4e4e;
    --secondary-color: #252525;
    --tertiary-color: #1c1c1c;
    --kinda-white: #f5f5f5;
    --background-color: #353ebd;

    --primary-text-color: #fff;
}

html {
    background: var(--tertiary-color);
    height: 100%;
    overflow-x: hidden;
}

body {
    color: white;
    background-color: var(--tertiary-color);
}

#page-content {
    margin-top: 30px;
}

.container {
    padding: 0 15px;
    margin: 0 auto;
}

#wrapper {
    min-height: 100%;
    padding-bottom: 100;
    position: relative;
}

@supports (-moz-appearance: none) {
    #wrapper {
        min-height: 100vh;
    }
}

.btn {
    transition: .2s;
}

.btn:hover {
    transform: scale(1.05);
}

/*
    Header CSS
*/

header {
    background-color: var(--secondary-color);
}

.header-bar {
    font-size: 2rem;
    justify-content: space-between;
}

.navbar-collapse {
    flex-direction: row-reverse;
}

.navbar-brand {
    display: inline-block;
    font-size: 1.25rem;
    line-height: inherit;
}

@media (max-width: 992px) {
    .nav-item {
        margin-left: auto;
        margin-right: auto;
    }
}

.logo {
    transition: .2s;
}

.logo:hover {
    transform: scale(1.05);
}

.logo img {
    width: 1.8rem;
}

.nav-link {
    transition: .2s;
}

.nav-link:hover {
    transform: scale(1.1);
}

.nav-link.active {
    transform: scale(1.1);
}

/* 
    Footer 
*/

footer {
    background-color: var(--secondary-color);
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 60px;
    height: auto;
    display: flex;
}

footer .copyright {
    align-self: center;
    display: flex;
}

footer .additional {
    display: flex;
    font-size: 10px;
    vertical-align: center;
    text-align: right;
    align-self: center;
    width: 236.7px;
}

@media only screen and (max-width: 1024px) {
    footer .container {
        flex-wrap: wrap;
    }

    footer .copyright {
        justify-content: center;
        text-align: center;
    }

    footer .additional {
        text-align: center;
        align-self: center;
        justify-content: center;
        width: 100%;
    }
}

/*
    Blocker for Internet Explorer Users
*/

#ie-block {
    display: none;
}

.ie-block-content {
    display: none;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {

    #ie-block {
        display: block;
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        height: 100%;
        z-index: 1000000000;
        background-color: #1c1c1c;;
    }

    .ie-block-content {
        display: block;
        margin: 30px;
        position: absolute;
        top: 30%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .ie-block-image {
        transition: .2s;
        height: 100px;
        margin-left: auto;
        margin-right: auto;
    }

    .ie-block-image:hover {
        transition: .2s;
        transform: scale(1.1);
    }
}

/*
    Utility CSS
*/

.divider-grey {
    box-shadow: inset 0 -4px 0 var(--secondary-color);
}

/*
    Input CSS
*/

input[type="text"] {
    width: 100%;
    line-height: 3;
    background-color: var(--secondary-color);
    border: none;
    color: #fff;
    padding-left: 10px;
    padding-right: 10px;
}

input[type="email"] {
    width: 100%;
    line-height: 3;
    background-color: var(--secondary-color);
    border: none;
    color: #fff;
    padding-left: 10px;
    padding-right: 10px;
}

input:focus {
    outline: none;
}

.minimal-input {
    width: fit-content;
    line-height: 3;
    background-color: var(--secondary-color);
    border: none;
    color: #fff;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 3px;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: textfield;
}

.minimal-input.form-control {
    height: 3.1rem;
}

.minimal-input:focus {
    background-color: var(--secondary-color);
    color: #fff;
    border: none;
}

.select-css {
    width: 140px;
    display: inline;
	font-size: 16px;
	font-family: sans-serif;
	font-weight: 300;
	color: #fff;
    line-height: 3;
    height: 3.5rem;
    padding-left: 10px;
    padding-right: 30px;
	box-sizing: border-box;
	margin: 0;
	border: none;
	box-shadow: none;
	border-radius: .5em;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: var(--secondary-color);
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 55%, 0 0;
    background-size: .65em auto, 100%;
    border-radius: 3px;
}

.select-css::-ms-expand {
	display: none;
}
.select-css:hover {
	border-color: none;
}
.select-css:focus {
	border-color: none;
	box-shadow: none;
	box-shadow: none -moz-mac-focusring;
    outline: none;
    background-color: var(--secondary-color);
    color: #fff;
    border: none;
}
.select-css option {
	font-weight:normal;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
