/*
    Sim config CSS
*/

#sim-config {
    display: flex;
    justify-content: space-between;
    height: 50px;
    margin-bottom: 20px;
}

#add-segment {
    background-color: var(--tertiary-color);
}

#segment-form input, #segment-form select {
    width: 100%;
    margin-top: 10px;
}

#segment-form .btn {
    width: 100%;
}

/* 
    Sim display CSS
*/

/* Physical Address Area */
.memory-area {
    width: 100vw;
    position: absolute;
    left: 0;
    height: 150px;
    background-color: var(--secondary-color);
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seg {
    height: 82%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    border: 1px solid white;
    transition: .3s;
}

.seg-identifier {
    display: flex;
    font-weight: bold;
    font-size: 2rem;
}

.pas-seg-lightbox {
    background-color: var(--tertiary-color);
    
}

.sim-divider {
    height: 200px;
}

.sim-axis {
    position: absolute;
    margin-top: 30px;
    bottom: 0;
    z-index: 3;
}

.axis-separator {
    position: absolute;
    top: 0;
    height: 82%;
    width: 2px;
    background-color: rgba(255, 255, 255, .3);
    z-index: 10;
}

.selected-seg {
    filter: saturate(0.4) brightness(1.5);
    z-index: 5;
}

/*
    Segmentation Table CSS
*/

#seg-table-area {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

#seg-table {
    width: 100%;
    text-align: center;
}

#seg-table th {
    border-bottom-color: inherit;
}

#seg-table tr {
    transition: .3s;
}

#seg-table td {
    vertical-align: middle;
}

.hide-seg-table-alert {
    height: 0;
    margin: 0;
    padding: 0;
    visibility: hidden;
}

.seg-table-area div {
    transition: .2s;
}

.hide-seg-table-alert div {
    height: 0;
    margin: 0;
    padding: 0;
    visibility: hidden;
}

/* Bootstrap Striped Table Override */
.table>:not(caption)>*>* {
    background-color: var(--secondary-color);
    box-shadow: inset 0 0 0 9999px var(--tertiary-color);
}
